rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'redstoneredstone08@gmail.com' ||
        request.auth.token.email == 'aicitlab@gmail.com' ||
        request.auth.token.email == 'muhammadshakirk218@gmail.com'
      );
    }

    match /users/{userId}/config/settings {
      allow read, write: if isOwner(userId) || isAdmin();
    }

    match /users/{userId}/chats/{chatId} {
      allow read, write: if isOwner(userId) || isAdmin();
      
      match /messages/{messageId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }

    match /system/config {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /students/{studentId} {
      allow read, write: if isAdmin();
      allow read: if isSignedIn();
    }

    match /gallery/{imageId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /gallery_videos/{videoId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    // Collection Group Security
    match /{path=**}/messages/{messageId} {
      allow read, delete: if isAdmin();
    }
  }
}
